services:
  postgres:
    image: postgres:16
    container_name: user-service-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: users
      POSTGRES_USER: user
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d users"]
      interval: 10s
      timeout: 5s
      retries: 5

  user-service:
    build:
      context: .
      dockerfile: User-service/Dockerfile
    restart: unless-stopped
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_APPLICATION_NAME=user-service
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8000:8000"

  check-service:
    build:
      context: .
      dockerfile: Check-service/Dockerfile
    restart: unless-stopped
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_APPLICATION_NAME=check-service
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "9000:9000"

  gateway:
    build:
     context: .
     dockerfile: Gateway/Dockerfile
    container_name: gateway
    restart: unless-stopped
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8080:8080"
    depends_on:
      user-service:
        condition: service_started
    volumes:
      - ./User-service/uploads:/app/uploads


volumes:
  postgres_data:
