version: '3.8'

services:
  # PostgreSQL Database
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: users
      POSTGRES_USER: user
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d users"]
      interval: 10s
      timeout: 5s
      retries: 5

  # User Service
  user-service:
    build: ./user-service
    container_name: user-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    volumes:
      # Mount volume for uploaded files
      - user-service-uploads:/app/uploads

  # Uncomment this to run frontend on docker
  #  frontend:
  #    build:
  #      context: ./Frontend
  #      dockerfile: Dockerfile
  #    working_dir: /app
  #    ports:
  #      - "8082:8082"
  #    environment:
  #      EXPO_DEVTOOLS_LISTEN_ADDRESS: 0.0.0.0   # optional, OK to keep
  #    volumes:
  #      - ./Frontend:/app
  #      - frontend_node_modules:/app/node_modules
  #      - frontend_expo:/app/.expo
  #    stdin_open: true
  #    tty: true

  # Gateway Service
  gateway:
    build: ./gateway
    container_name: gateway
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8080:8080"
    depends_on:
      - user-service
    networks:
      - app-network


  check-service:
    build: ./check-service
    container_name: check-service
    restart: unless-stopped
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "9000:9000"
    networks:
      - app-network


networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
  user-service-uploads:
  frontend_node_modules:
  frontend_expo: