version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: user-service-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: users
      POSTGRES_USER: user
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d users"]
      interval: 10s
      timeout: 5s
      retries: 5

  user-service:
    build:
      context: ./User-service
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_APPLICATION_NAME=user-service
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8000:8000"

  gateway:
    build: ./Gateway
    container_name: gateway
    restart: unless-stopped
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8080:8080"
    depends_on:
      user-service:
        condition: service_started


volumes:
  postgres_data:
