spring:
  application:
    name: gateway

  config:
    activate:
      on-profile: docker

  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:8082"
              - "http://localhost:8081"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true

      default-filters:
        - PreserveHostHeader
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE

      routes:
        - id: check-service
          uri: http://check-service:9000
          predicates:
            - Path=/api/child-status/**
          filters:
            - PreserveHostHeader
            - AddRequestHeader=X-Forwarded-Proto, http
            - AddRequestHeader=X-Forwarded-Host, localhost:8080
            - AddRequestHeader=X-Forwarded-Port, 8080

        - id: user-service
          uri: http://user-service:8000
          predicates:
            - Path=/**
          filters:
            - PreserveHostHeader
            - AddRequestHeader=X-Forwarded-Proto, http
            - AddRequestHeader=X-Forwarded-Host, localhost:8080
            - AddRequestHeader=X-Forwarded-Port, 8080

server:
  port: 8080

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG
    org.springframework.session: DEBUG