user-service:
  base-uri: http://user-service:8080

server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://user-service:8000
          predicates:
            - Path=/api/**,/login,/webauthn/**,/profile-pictures/**,/test.html
  config:
    activate:
      on-profile: docker
