spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://postgres:5432/users
    driver-class-name: org.postgresql.Driver
    username: user
    password: secret

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: false
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration
    validate-on-migrate: true
    out-of-order: false



# WebAuthn configuration
app:
  webauthn:
    rp-id: localhost
    rp-name: Frostbyte User Service
    allowed-origins:
      - http://localhost:8080
      - http://localhost:8081
      - http://localhost:8082

server:
  port: 8000
  forward-headers-strategy: framework

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    org.springframework.session: DEBUG
    org.flywaydb: DEBUG
    com.example.userservice: DEBUG